<br>
<a href="/">index page</a>
<br>
<h3>Band-Split Rotary Position Embedding Transformer</h3>
<br>
<p>BS-RoFormer is the current SOTA (Dec 2025) for splitting audio to multiple stems for the purpose of vocal removal,
audio mixing and isolation. In this context stems mean the different individual tracks that make up a song. They
include vocal, piano, violin, drums, flute and more instruments. In this project we will use a more refined model
that can be accessed via an API call provided by the MVSEP website (mvsep.com)</p>
<br>
<p>White paper link - </p><a href="https://arxiv.org/abs/2309.02612">https://arxiv.org/abs/2309.02612</a>