<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Karaotone</title>
</head>

<body>
    <a href="/"><button>home</button></a>
    <h1>Your karaoke is ready!</h1>
    <hr>
    <p>Original file name: {{ candidate_filename }}</p>
    <p>Original file download link: </p><a href="https://storage.googleapis.com/karaotone-prod-media-audio-upload/{{ candidate_filename }}"
        download>Download audio</a>
    <audio controls>
        <source src="https://storage.googleapis.com/karaotone-prod-media-audio-upload/{{ candidate_filename }}"
            type="audio/mpeg">
        We are unable to preview the file as your browser does not support the html audio element.
        <p>If the above link doesn't work, try downloading the file directly from the below URL.</p>
        <p>https://storage.googleapis.com/karaotone-prod-media-audio-upload/{{ candidate_filename }}</p>
    </audio>
    <hr>
    <p>Karaoke file name: {{ processed_filename }}</p>
    <p>Karaoke download link: </p><a href="https://storage.googleapis.com/karaotone-prod-media-audio-processed/{{ processed_filename }}"
        download>Download audio</a>
    <audio controls>
        <source src="https://storage.googleapis.com/karaotone-prod-media-audio-processed/{{ processed_filename }}"
            type="audio/mpeg">
        We are unable to preview the file as your browser does not support the html audio element.
        <p>If the above link doesn't work, try downloading the file directly from the below URL.</p>
        <p>https://storage.googleapis.com/karaotone-prod-media-audio-processed/{{ processed_filename }}</p>
    </audio>
</body>

</html>